/*通用样式*/
*{margin:0;padding:0;}
ul{list-style:none;}
a{text-decoration:none}
.wrap{width:100%;height:auto;overflow:hidden;position:relative;}

/*网页头部样式*/
.wrap>.header{width:100%;height:700px;background:url(../images/37.jpg) no-repeat 0 0/100% 100%;overflow:hidden;}
.wrap>.header>div{margin:250px 0 0 100px;color:#fff;opacity:0}
.wrap>.header>div>h4{width:100%;margin-bottom:5px;font-size:14px;font-weight:500;}
.wrap>.header>div>h1{width:100%;margin-bottom:20px;font-size:58px;font-weight:500;}
.wrap>.header>div>a{display:block;width:240px;height:40px;text-align:center;line-height:40px;font-size:12px;font-weight:500;color:#fff;border:1px solid #fff;background:transparent;transition:all 0.5s linear;}
.wrap>.header>div>a:hover{background:#fff;color:#000;}

/*网页主体各子分块通用头部样式*/
.wrap>.main{width:100%;height:auto;margin-top:50px;}
.wrap>.main .top{width:95%;margin:0 auto;overflow:hidden;position:relative;}
.wrap>.main .top>div{width:100%;height:60px;margin-bottom:50px;}
.wrap>.main .top>div>h3{width:50%;float:left;line-height:60px;font-weight:600;color:#413939;}
.wrap>.main .top>div>a{width:50%;display:block;height:60px;text-align:right;line-height:60px;color:#ccc;position:absolute;top:0;right:10px;}
.wrap>.main .top>.qute>ul{width:24.8%;height:407px;float:left;margin:2px 0.1%;position:relative;}
.wrap>.main .top>.qute>ul>li{width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(217,216,216,0.29);overflow:hidden}
.wrap>.main .top>.qute>ul>li>h5{font-weight:500;font-size:12px;margin:5px;opacity:0;}
.wrap>.main .top>.qute>ul>li>p{font-size:10px;color:#666;margin:5px;opacity:0;}
.wrap>.main .top>.qute>ul>li>img{height:80%;display:block;margin:0 auto;}
.wrap>.main .top>.qute>ul>li>ul{opacity:0;width:100%;color:#666;padding-left:5px;height:30px;line-height:30px;box-sizing:border-box;}
.wrap>.main .top>.qute>ul>li>ul>div{width:40px;height:10px;float:right;margin:10px;}
.wrap>.main .top>.qute>ul>li>ul>div>span{display:block;float:left;width:8px;height:8px;border:1px solid #000;border-radius:5px;background:#fff;margin:0 5px;}
.wrap>.main .top>.qute>ul>li>ul>div>span:nth-child(2){background:#000;}
.wrap>.main .top>.qute>ul>li:nth-child(2){display:none;}
.wrap>.main .top>.qute>ul>li:nth-child(2)>img{width:100%;height:100%;display:block;}
.wrap>.main .top>.qute>ul>li>div{position:absolute;bottom:15px;right:10px;}
.wrap>.main>div{margin-top:50px}

/*网页主体各子分块通用尾部样式*/
.wrap>.main .bottom{width:100%;margin-top:80px;overflow:hidden;}
.wrap>.main .bottom div{color:#fff;text-align:center;}
.wrap>.main .bottom div>h1{font-size:45px;margin:10px 0 20px 0;font-weight:500;}
.wrap>.main .bottom div>h5{font-weight:500;font-size:12px;}
.wrap>.main .bottom div>a{display:block;margin-left:440px;width:120px;height:40px;border:1px solid #fff;font-weight:500;color:#fff;font-size:12px;line-height:40px;text-align:center;transition:all 0.5s linear}
.wrap>.main .bottom div>a:hover{background:#fff;color:#000;}

/*主体子分块 一*/
.wrap>.main>.mOne>.bottom{height:700px;background:url(../images/38.jpg) no-repeat 0 0/100% 100%;position:relative;overflow:hidden}
.wrap>.main>.mOne>.bottom div{width:1000px;margin:300px auto 0 auto;display:none;}

/*主体子分块 二*/
.wrap>.main>.mTwo>.top>.qute>ul:nth-child(1){width:49%;}
.wrap>.main>.mTwo>.top>.qute>ul:nth-child(1)>li:nth-child(1)>img{width:60%;margin:0 auto;}
.wrap>.main>.mTwo>.bottom>div{width:50%;height:900px;}
.wrap>.main>.mTwo>.bottom>div>div{margin:350px auto 0 auto;display:none;}
.wrap>.main>.mTwo>.bottom>div>div>h1{font-size:40px;}
.wrap>.main>.mTwo>.bottom>div>div>a{margin-left:300px;}
.wrap>.main>.mTwo>.bottom>.left{float:left;background:url(../images/27.jpg) no-repeat 0 0/100% 100%;}
.wrap>.main>.mTwo>.bottom>.right{float:right;background:url(../images/30.jpg) no-repeat 0 0/100% 100%;}

/*主体子分块 三*/
.wrap>.main>.mThree>.bottom{width:100%;position:relative;}
.wrap>.main>.mThree>.bottom>video{width:100%;}
.wrap>.main>.mThree>.bottom div{width:820px;position:absolute;top:250px;left:300px;display:none;}
.wrap>.main>.mThree>.bottom div>h1{font-size:55px;margin-top:30px;}
.wrap>.main>.mThree>.bottom div>a{margin-left:350px;}

/*主体子分块 四*/
.wrap>.main>.mFour>.top>.qute>ul:nth-child(1){width:49%;}
.wrap>.main>.mFour>.top>.qute>ul:nth-child(1)>li:nth-child(1)>img{width:60%;margin:0 auto;}
.wrap>.main>.mFour>.bottom>ul>a>li{width:33.3%;height:632px;float:left;position: relative;}
.wrap>.main>.mFour>.bottom>ul>a:nth-child(1)>li{background:url(../images/16.jpg) no-repeat 0 0/100% 100%;}
.wrap>.main>.mFour>.bottom>ul>a:nth-child(2)>li{background:url(../images/33.jpg) no-repeat 0 0/100% 100%;}
.wrap>.main>.mFour>.bottom>ul>a:nth-child(3)>li{background:url(../images/31.jpg) no-repeat 0 0/100% 100%;}
.wrap>.main>.mFour>.bottom>ul>a>li>div{width:330px;height:65px;position:absolute;bottom:10px;left:30px;color:#fff;text-align:left;display:none;}
.wrap>.main>.mFour>.bottom>ul>a>li>div>h4{font-size:12px;margin-bottom:10px;font-weight:500;}
.wrap>.main>.mFour>.bottom>ul>a>li>div>h3{font-size:18px;}

/*物理屏为1024~1423的尾部样式*/
.wrap>.footer{width:100%;height:60px;line-height:60px;}
.wrap>.footer>ul{width:95%;height:100%;margin:0 auto;}
.wrap>.footer>ul>.left{width:30%;height:100%;float:left;color:#282828;font-size:12px;}
.wrap>.footer>ul>.left>a{margin-left:20px;color:#282828;font-size:13px;}
.wrap>.footer>ul>.right{width:70%;height:100%;float:right;}
.wrap>.footer>ul>.right>ul>li{height:30px;float:right;margin:0 8px;}
.wrap>.footer>ul>.right>ul>li>a{color:#282828;font-size:13px;}
.wrap>.footer>ul>.right>ul>li>a>img{width:15px;}
@-webkit-keyframes run{0%{transform:rotate(0deg)} 100%{transform:rotate(360deg)}}
.wrap ul>.right>ul>li>a>img:hover{animation:run 0.5s linear}
.wrap>.footer>ul>.right>ul>li:nth-child(1)>a>img{transform:rotate(-90deg);margin:15px 0 15px 15px;}

/*物理屏为500~1023的尾部样式*/
.wrap>.foot{width:100%;padding-top:30px;display:none;}
.wrap>.foot>.ft{width:90%;margin:0 auto;}
.wrap>.foot>.ft>.left{width:80%;float:left;}
.wrap>.foot>.ft>.left>ul>li{height:30px;line-height:30px;}
.wrap>.foot>.ft>.left>ul>li>a{color:#282828;font-size:12px;}
.wrap>.foot>.ft>.right{width:20%;float:right;}
.wrap>.foot>.ft>.right>a{display:block;}
.wrap>.foot>.ft>.right>a>img{width:15px;transform:rotate(-90deg);margin-right:0px;}
.wrap>.foot>.ft>.right>a>img:hover{animation:run 0.5s linear}
.wrap>.foot>.fb{width:100%;height:60px;line-height:60px;}
.wrap>.foot>.fb>ul{width:90%;height:100%;margin:0 auto;}
.wrap>.foot>.fb>ul>.left{width:30%;height:100%;float:left;color:#333;font-size:8px;}
.wrap>.foot>.fb>ul>.right{width:70%;height:100%;float:right;}
.wrap>.foot>.fb>ul>.right>ul>li{height:30px;float:right;margin:0 8px;}
.wrap>.foot>.fb>ul>.right>ul>li:nth-child(1){display:none;}
.wrap>.foot>.fb>ul>.right>ul>li>a>img{width:15px;}

/*导航栏*/
.wrap>.nav{width:100%;background:transparent;position:fixed;left:0;top:0;opacity:0}
.wrap>.nav>.left{width:15%;height:60px;float:left;position:relative;}
.wrap>.nav>.left>img{width:75px;margin:20px 0 0 40px;display:block;}
.wrap>.nav>.left>img:nth-child(2){position:absolute;top:0px;left:0px;display:none;}
.wrap>.nav>.right{width:85%;height:60px;float:right;}
.wrap>.nav>.right>ul>li{float:right;margin:0 15px;height:60px;line-height:60px;position:relative;}
.wrap>.nav>.right>ul>li>a{color:#fff;font-weight:800;font-size:14px;}
.wrap>.nav>.right>ul>li>a>img{width:20px;position:absolute;display:none;}
.wrap>.nav>.right>ul>li:nth-child(1)>a>img:nth-child(1){top:25px;right:0px;display:block}
.wrap>.nav>.right>ul>li:nth-child(2)>a>img:nth-child(1){top:19px;right:0px;display:block}
.wrap>.nav>.right>ul>li:nth-child(1)>a>img:nth-child(2){top:25px;right:0px;}
.wrap>.nav>.right>ul>li:nth-child(2)>a>img:nth-child(2){top:19px;right:0px;}

 /*物理屏为1024~1423时导航栏点击后出现的菜单*/
.ban{width:100%;height:85px;background:#fff;padding:0 20px;box-sizing:border-box;position:fixed;top:0;left:0;display:none;}
.ban>.left{width:40%;height:100%;float:left;}
.ban>.left>ul>li{height:85px;line-height:85px;font-size:10px;color:#ccc;float:left;margin-left:15px;}
.ban>.left>ul>li>a{color:#282828;font-size:13px;}
.ban>.right{width:60%;height:100%;float:right;}
.ban>.right>ul>li{height:85px;line-height:85px;margin:0 10px;font-size:14px;color:#ccc;float:right;}
.ban>.right>ul>li:nth-child(1){font-size:18px;}
.ban>.right>ul>li>a{color:#282828;display:block;}

/*物理屏为0~1023时导航栏点击后出现的菜单*/
.banner{width:100%;position:fixed;top:0;left:0;display:none;}
.banner>.left{width:92%;float:left;background:#fff;padding-left:20px;box-sizing:border-box;}
.banner>.left>.header{height:60px;overflow:hidden}
.banner>.left>.header>.hl{float:left;}
.banner>.left>.header>.hr{float:right;}
.banner>.left>.header a>img{height:20px;display:block;margin:20px;}
.banner>.left>.body{margin-top:50px;}
.banner>.left>.body li{height:30px;line-height:30px;font-size:14px;}
.banner>.left>.body li>a{color:#282828;}
.banner>.left>.body div{margin:30px;}
.banner>.left>.body>.two li{font-size:14px;}
.banner>.left>.body>.two li>a{color:#baaaaa;}
.banner span{color:#baaaaa;margin-left:15px}
.banner>.right{width:8%;float:right;}
.banner>.right li{height:60px;width:100%;font-size:40px;background:#fff;line-height:60px;text-align:center;}
.banner>.right li>a{color:#282828;}